.navbar {
  background-color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* Logo on left */
.logoImage {
  height: 30px;
  object-fit: contain;
  display: flex;
  align-items: center;
  margin-top: 30px;
  
}

/* Nav links on right */
.navLinks {
  display: flex;
  gap: 30px;
  margin-right: 120px;
  margin-top: 30px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  
}

.link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #edf114;
  bottom: -4px;
  left: 0;
}

/* Hamburger for mobile */
.menuBtn {
  display: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
  }

  .open {
    display: flex;
  }

  .menuBtn {
    display: block;
  }
}


.topBadge {
  position: fixed;
 
  right: 40px; 
  width: 100px;
  z-index: 1000;
  margin-top: -10px;
  margin-right: 50px;
}
